body {
  padding: 0;
  margin: 0;
  background-color: blueviolet;
}

.outerDivClasses {
  display: flex;
  gap: 20px;
  align-items: center;
  height: 100vh;
  justify-content: center;
}

.mainloopDiv{
  padding: 10px;
  background-color: violet;
  border: 2px solid black;
  border-style: dashed;
}
.imgDimensions{
  cursor: grab;
  border-radius: 50%;
  background-color: white;
}

.whiteBoxes {
  background-color: white;
}

.commonValues {
  width: 144px;
  height: 144px;
}

.centerHeading{
  text-align: center;
  color: rgba(33, 74, 150, 0.548);
  text-decoration: underline;
  text-underline-offset: 10px;
}